[user]
	name = sthoma
	email = sthoma4@gmail.com
[alias]
	co = checkout
	rb = rebase
	st = status
	br = branch
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.global_gitignore
	editor = vim
	autocrlf = input
[apply]
	whitespace = nowarn
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[push]
	default = simple
[credential]
	helper = osxkeychain
